body {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 0; 
}

/* Contenedor del formulario */
.form-container {
    background-color: #ffffff; 
    border: 1px solid #cccccc; 
    border-radius: 8px; 
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
    padding: 30px; 
    width: 300px; 
    text-align: left; 
}

/* Título */
h1 {
    font-size: 1.5rem; 
    margin-bottom: 20px; 
    text-align: center; 
}

/* Estilo de etiquetas */
label {
    margin-top: 15px; 
    display: block; 
}

/* Estilo de los campos de entrada */
input[type="text"],
select {
    width: calc(100% - 20px); 
    padding: 10px; 
    margin-top: 5px; 
    border: 1px solid #cccccc;
    border-radius: 4px; 
    box-sizing: border-box; 
}

/* Estilo del botón de envío */
input[type="submit"] {
    background-color: #5cb85c; 
    color: white;
    border: none; 
    padding: 10px;
    margin-top: 20px; 
    cursor: pointer; 
    border-radius: 4px; 
    width: 100%; 
    transition: background-color 0.3s; 
}

/* Efecto hover para el botón */
input[type="submit"]:hover {
    background-color: #4cae4c; 
}
