<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>salida libro</title>
    <link rel="stylesheet" href="static/estilo_salida.css">

</head>
<body>
    <h1>Formulario de salida - Registro de Libros</h1>
    <h2>Datos recibidos son:</h2>
    <p>Titulo: {{titulo}}</p>
    <p>Autor: {{autor}}</p>
    <p>resumen: {{resumen}}</p>
    <p>medio: {{medio}}</p>

    <p><a href="/">Volver</a></p>
</body>
</html>