<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salida Registro Usuario</title>
    <link rel="stylesheet" href="static/estilo_salida.css">

</head>
<body>
    <h1>Formulario de salida - Registro de Usuario</h1>
    <h2>Datos recibidos son:</h2>
    <p>Nombre: {{nombre}}</p>
    <p>Apellido: {{apellido}}</p>
    <p>Correo Electrónico: {{correo_electronico}}</p>
    <p>Contraseña: {{contraseña}}</p>

    <p><a href="/">Volver</a></p>
</body>
</html>
