<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>salida formularioproducto</title>
    <link rel="stylesheet" href="static/estilo_salida.css">

</head>
<body>
    <h1>Formulario de salida - Registro de Producto</h1>
    <h2>Datos recibidos son:</h2>
    <p>producto: {{producto}}</p>
    <p>categoria: {{categoria}}</p>
    <p>existencia: {{existencia}}</p>
    <p>precio: {{precio}}</p>

    <p><a href="/">Volver</a></p>
</body>
</html>